{% extends "layout.html" %}
{% block title %} ico management {% endblock %}
{% block content %} 

  {% from 'macro/forms.html' import render_field %}
  <form method="POST" action="{{ url_for('management.mgt_currency_list') }}">
    <dl>
        {% for item in form %}
          {{ render_field(item, class='form-control') }}
        {% endfor %}
        {{ form.csrf_token }}
    </dl>
    <p><button type="submit">submit</button>
  </form>

{% if data and data['columns'] and data['rows'] %}
    
    <table class="table table-hover" id="mgt_table">
        <thead>
            <tr>
                {% for col in data['columns'] %}
                    <th> {{ col['name'] }} </th>
                {% endfor %}
                {% if edit %}
                    <th>操作</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in data['rows'] %}
                <tr>
                    {% for col in row %}
                        <td>
                            {% if (data['columns'][loop.index0]['need_safe']) %}
                                {{ col | safe }} 
                            {% else %}
                                {{ col }} 
                            {% endif %}
                        </td>
                    {% endfor %}
                    {% if edit %}
                        <td> <a href="{{ url_for(request.endpoint) }}/{{row[0]}}">编辑</a> </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endif %}

{% endblock %}